@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand-50: #f1f5f9;
  --color-brand-100: #e2e8f0;
  --color-brand-200: #cbd5e1;
  --color-brand-300: #94a3b8;
  --color-brand-400: #64748b;
  --color-brand-500: #475569;
  --color-brand-600: #334155;
  --color-brand-700: #1e293b;
  --color-brand-800: #0f172a;
  --color-brand: #0a2540;

  --color-brand-accent-50: #f0fdfa;
  --color-brand-accent-100: #ccfbf1;
  --color-brand-accent-200: #99f6e4;
  --color-brand-accent-300: #5eead4;
  --color-brand-accent-400: #2dd4bf;
  --color-brand-accent-500: #14b8a6;
  --color-brand-accent-600: #0d9488;
  --color-brand-accent-700: #0f766e;
  --color-brand-accent-800: #115e59;
  --color-brand-accent-900: #134e4a;
  --color-brand-accent: #4fd1c5;
}
